body{
    margin: 0;
}
.card_informacoes {
    background: #8E76A9;
    width: 606px;
    height: 145px;
    position: absolute; /* Para posicionamento absoluto */
    top: 20px; /* Distância da borda superior */
    left: 0; /* Alinha o card à borda esquerda */
    margin-top: 0; /* Remove qualquer margem superior */
    margin-bottom: 20px; /* Espaço entre o card e a barra de rolagem */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    padding-left: 50px; /* Espaço ao ícone */
    border-radius: 0 40px 40px 0;
    opacity: 1; /* Visível */
    box-sizing: border-box; /* Inclui padding e border no width e height */
}
.Header{
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 100vw;
    height: 100vh;
    background: #F6CF63;
    display: flex;
    flex-direction: column; /* Dispor elementos verticalmente */
    justify-content: center;
    align-items: center;
}
.barra_de_rolagem {
    display: flex;
    width: 100%;
    gap: 2rem;
    overflow-x: auto;
    scrollbar-width: none;
    user-select: none;
    cursor: grab;
    margin-top: 300px;
    padding: 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding no tamanho total */
}

.barra_de_rolagem::-webkit-scrollbar {
    display: none; 
}
.barra_de_rolagem:active {
    cursor: grabbing;
}

.barra_de_rolagem:hover>:not(:hover) {
    opacity: 0.7;
    transform: scale(0.9);
}
.main_turma1,
.main_turma2,
.main_turma3,
.main_turma4,
.main_turma5,
.main_turma6,
.main_desempenho,
.main_AddProfessor,
.main_AttDados,
.main_avisos,
.main_ocorrencia,
.main_Historico,
.main_attDados,
.main_turma,
.main_Evento,
.main_Gerar_boletim,
.main_matricula {
    transition: 0.35s;
    width: 200px;
    height: 270px;
    position: relative;
    border-radius: 45px;
    max-width: 100%;
    overflow: hidden;
    background: #8E76A9;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    user-select: none;
}
.main_turma1 img,
.main_turma2 img,
.main_turma3 img,
.main_turma4 img,
.main_turma5 img,
.main_turma6 img,
.main_turma img,
.main_desempenho img,
.main_AddProfessor img,
.main_AttDados img,
.main_ocorrencia img,
.main_Historico img,
.main_attDados img,
.main_Evento img,
.main_Gerar_boletim img,
.main_matricula img {
    margin-bottom: 10px; /* Espaço entre o ícone e o título */
}
.main_turma1>h1,
.main_turma2>h1,
.main_turma3>h1,
.main_turma4>h1,
.main_turma5>h1,
.main_turma6>h1,
.main_turma >h1,
.main_desempenho>h1,
.main_AddProfessor>h1,
.main_AttDados>h1,
.main_avisos>h1,
.main_ocorrencia>h1,
.main_Historico>h1,
.main_Evento>h1,
.main_Gerar_boletim>h1,
.main_matricula>h1 {
    margin: 0; /* Remove a margem padrão */
    font-size: 25px; /* Tamanho da fonte do título */
    text-align: center; /* Centraliza o texto */
    user-select: none;
}
.turma_icon{
    width: 100px;
    height: auto;
}
.Gerar_boletima_icon {
    width: 30px;
    height: auto;
}
.icon_matricula {
    width: 50px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção */
}
.icon_desempenho,
.Icon_ocorrencia,
.Evento_icon,
.icon_HistoricoEscolar,
.icon_matricula {
    width: 100px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção */
}
.icon_attDados,
.Icon_AttDados {
    width: 150px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção */
}
.Icon_AddProfessor {
    width: 100px;
    height: auto;
}
.turma,
.desempenho,
.AddProfessor,
.AttDados,
.aviso,
.ocorrencia,
.Historico,
.AttDados,
.boletim,
.evento,
.matricula {
    font-size: medium;
    text-decoration: none;
    color: inherit;
    user-select: none;
    -webkit-user-drag: none; /* Safari e Chrome */
    -khtml-user-drag: none; /* Konqueror */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Opera */
}

.LogOut_btn {
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 
.Home_btn {
    position: absolute;
    top: 10px; /* Distância do topo da página */
    right: 10px; /* Distância da borda direita da página */
    padding: 5px; /* Reduzindo o padding */
    border: none;
    border-radius: 3px; /* Reduzindo o border-radius */
    cursor: pointer;
}

.Home_btn .Home img {
    width: 100px; /* Ajuste do tamanho da imagem */
    height: auto; /* Manter proporção da imagem */
}

.selected {
    background: #4915A3;
    box-shadow: 20px #4915A3ba(0, 0, 0, 0.5); /* Exemplo de sombra */
    transform: scale(1.05); /* Leve aumento de escala */
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
}
