body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F6CF63; /* Cor de fundo */
    overflow-x: hidden;
    justify-content: center;
    align-items: flex-start;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.main_home{
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 100vw;
    height: 100vh;
    background: #F6CF63;
    display: flex;
    flex-direction: column; /* Dispor elementos verticalmente */
    justify-content: center;
    align-items: center;
}


