body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F6CF63;
    overflow-x: hidden;
    justify-content: center;
    align-items: flex-start;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.main_Matricula {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: #F6CF63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px; /* Ajusta o espaço entre o formulário e o topo */
}

.formulario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90vw; /* Ajusta a largura máxima para 90% da viewport */
    width: 100%;
    box-sizing: border-box;
    margin-top: 300PX;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    background-color: #ffcc66;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0 -20px 20px -20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group label {
    display: block;
    width: 100%;
    font-weight: bold;
}

.form-group input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #dce6f1;
    width: calc(100% - 20px);
}

.finalizar-btn {
    width: 100%;
    padding: 10px;
    background-color: #4a4a8d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.finalizar-btn:hover {
    background-color: #3b3b6d;
}

@media (min-width: 768px) {
    .form-group input[type="text"],
    .form-group input[type="date"] {
        width: calc(50% - 10px);
    }

    .form-group input[type="text"]:nth-child(odd),
    .form-group input[type="date"]:nth-child(odd) {
        margin-right: 20px;
    }

    .form-group.photo {
        flex-direction: column;
        align-items: center;
    }

    .form-group.photo .photo-placeholder {
        margin-bottom: 20px;
    }
}

.photo-placeholder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #d1e4f1;
    border: 2px dashed #9e9e9e;
    border-radius: 10px;
    cursor: pointer;
}

.photo-placeholder img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.photo-placeholder p {
    margin: 0;
    font-size: 1rem;
    color: #6c757d;
}

#foto_do_aluno {
    display: none;
}
